<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
-->

<div class="container"><div class="row">

  <h2 class="text-center">Checkbox & Radio style Bootstrap</h2>

</div></div>

<div class="container"><div class="row"><div class="col-md-8 col-md-offset-2">

  <h3>Checkbox</h3>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <i class="fa fa-2x icon-checkbox"></i>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="" checked>
      <i class="fa fa-2x icon-checkbox"></i>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled>
      <i class="fa fa-2x icon-checkbox"></i>
      Option is disabled
    </label>
  </div>
  <div class="checkbox disabled">
    <label>
      <input type="checkbox" value="" disabled checked>
      <i class="fa fa-2x icon-checkbox"></i>
      Option is disabled & checked
    </label>
  </div>
  <div class="clearfix"></div>

  <h3>Radio</h3>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" checked>
      <i class="fa fa-2x icon-radio"></i>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios">
      <i class="fa fa-2x icon-radio"></i>
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <div class="radio disabled">
    <label>
      <input type="radio" name="optionsRadios" disabled>
      <i class="fa fa-2x icon-radio"></i>
      Option three is disabled
    </label>
  </div>
  <div class="radio disabled">
    <label>
      <input type="radio" name="optionsRadios-disabled" disabled checked>
      <i class="fa fa-2x icon-radio"></i>
      Option is disabled & checked
    </label>
  </div>
  <div class="clearfix"></div>

  <h3>Checkbox xs</h3>
  <div class="checkbox checkbox-xs">
    <label>
      <input type="checkbox" value="">
      <i class="fa fa-lg icon-checkbox"></i>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="checkbox checkbox-xs">
    <label>
      <input type="checkbox" value="" checked>
      <i class="fa fa-lg icon-checkbox"></i>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="checkbox checkbox-xs disabled">
    <label>
      <input type="checkbox" value="" disabled>
      <i class="fa fa-lg icon-checkbox"></i>
      Option is disabled
    </label>
  </div>
  <div class="checkbox checkbox-xs disabled">
    <label>
      <input type="checkbox" value="" disabled checked>
      <i class="fa fa-lg icon-checkbox"></i>
      Option is disabled & checked
    </label>
  </div>
  <div class="clearfix"></div>

  <h3>Radio xs</h3>
  <div class="radio radio-xs">
    <label>
      <input type="radio" name="optionsRadios" checked>
      <i class="fa fa-lg icon-radio"></i>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
  </div>
  <div class="radio radio-xs">
    <label>
      <input type="radio" name="optionsRadios">
      <i class="fa fa-lg icon-radio"></i>
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <div class="radio radio-xs disabled">
    <label>
      <input type="radio" name="optionsRadios" disabled>
      <i class="fa fa-lg icon-radio"></i>
      Option three is disabled
    </label>
  </div>
  <div class="radio radio-xs disabled">
    <label>
      <input type="radio" name="optionsRadios-xs-disabled" disabled checked>
      <i class="fa fa-lg icon-radio"></i>
      Option is disabled & checked
    </label>
  </div>
  <div class="clearfix"></div>

  <h3>Checkbox & Radio indent</h3>
  <div class="checkbox indent">
    <label>
      <input type="checkbox" name="optionsCheckboxs">
      <i class="fa fa-2x icon-checkbox"></i>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea amet quisquam odio nesciunt rerum, perspiciatis at, commodi quo harum quis illum qui, vitae ut optio suscipit distinctio ipsum pariatur.
    </label>
  </div>
  <div class="radio indent">
    <label>
      <input type="radio" name="optionsRadiosIndent">
      <i class="fa fa-2x icon-radio"></i>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea amet quisquam odio nesciunt rerum, perspiciatis at, commodi quo harum quis illum qui, vitae ut optio suscipit distinctio ipsum pariatur.
    </label>
  </div>
  <div class="clearfix"></div>

  <h3>Checkbox-xs - Radio-xs indent</h3>
  <div class="checkbox checkbox-xs indent">
    <label>
      <input type="checkbox" name="optionsCheckboxs">
      <i class="fa fa-lg icon-checkbox"></i>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea amet quisquam odio nesciunt rerum, perspiciatis at, commodi quo harum quis illum qui, vitae ut optio suscipit distinctio ipsum pariatur.
    </label>
  </div>
  <div class="radio radio-xs indent">
    <label>
      <input type="radio" name="optionsRadiosXsIndent">
      <i class="fa fa-lg icon-radio"></i>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea amet quisquam odio nesciunt rerum, perspiciatis at, commodi quo harum quis illum qui, vitae ut optio suscipit distinctio ipsum pariatur.
    </label>
  </div>

</div></div></div>
