<ul class="list-group">
  <li class="list-group-item">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Центральный Федеральный округ
    </label>
  </div>
  </li>

  <ul class="list-group">
      <li class="list-group-item">Москва</li>
         <ul class="list-group">
      <li class="list-group-item">Красная пресня</li>
      <li class="list-group-item">Лубянский район</li>
      <li class="list-group-item">Выхино</li>
          </ul>
    <li class="list-group-item">Московская область</li>
    <li class="list-group-item">Рязань</li>
   </ul>


  <li class="list-group-item">Уральский Федеральный округ</li>
  <li class="list-group-item">Северный Федеральный округ</li>
  <li class="list-group-item">Северо-Европейский Федеральный округ</li>

    </ul>


<!--

<div class="treeview w-20 border">
<h6 class="pt-3 pl-3">Выбрать расположение</h6>


  <ul class="mb-1 pl-3 pb-5">
    <li><i class="fas fa-angle-right rotate" appTreeRenderer></i>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Россия
  </label>
  </div>
    </li>

    <li><i class="fas fa-angle-right rotate" appTreeRenderer></i>

      <div class="form-check">
        <i class="fas fa-angle-right rotate" appTreeRenderer></i>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
          Белоруссия
        </label>
      </div>
    </li>


  </ul>

</div>
-->

<div class="treeview w-20 border">
  <h6 class="pt-3 pl-3">Выбрать расположение</h6>
  <hr>
  <ul class="mb-1 pl-3 pb-2">
    <li><i class="fas fa-angle-right rotate" appTreeRenderer></i>
          <span><i class="far fa-envelope-open ic-w mx-1"></i>Россия</span>
      <ul class="nested">
        <li><i class="far fa-bell ic-w mr-1"></i>Центральный Федеральный округ</li>
        <li><i class="far fa-address-book ic-w mr-1"></i>Уральский Федеральный округ</li>
        <li><i class="fas fa-angle-right rotate" appTreeRenderer></i>
          <span><i class="far fa-calendar-alt ic-w mx-1"></i>Северный Федеральный округ</span>
          <ul class="nested">
            <li><i class="far fa-clock ic-w mr-1"></i>Deadlines</li>
            <li><i class="fas fa-users ic-w mr-1"></i>Meetings</li>
            <li><i class="fas fa-basketball-ball ic-w mr-1"></i>Workouts</li>
            <li><i class="fas fa-mug-hot ic-w mr-1"></i>Events</li>
          </ul>
        </li>
      </ul>
    </li>
    <li><i class="fas fa-angle-right rotate" appTreeRenderer></i>
      <span><i class="far fa-folder-open ic-w mx-1"></i>Белоруссия</span>
      <ul class="nested">
        <li><i class="far fa-folder-open ic-w mr-1"></i>Admin</li>
        <li><i class="far fa-folder-open ic-w mr-1"></i>Corporate</li>
        <li><i class="far fa-folder-open ic-w mr-1"></i>Finance</li>
        <li><i class="far fa-folder-open ic-w mr-1"></i>Other</li>
      </ul>
    </li>
    <li><i class="fas fa-angle-right rotate" appTreeRenderer></i>
      <span><i class="far fa-gem ic-w mx-1"></i>Favourites</span>
      <ul class="nested">
        <li><i class="fas fa-pepper-hot ic-w mr-1"></i>Restaurants</li>
        <li><i class="far fa-eye ic-w mr-1"></i>Places</li>
        <li><i class="fas fa-gamepad ic-w mr-1"></i>Games</li>
        <li><i class="fas fa-cocktail ic-w mr-1"></i>Coctails</li>
        <li><i class="fas fa-pizza-slice ic-w mr-1"></i>Food</li>
      </ul>
    </li>
    <li><i class="far fa-comment ic-w mr-1"></i>Notes</li>
    <li><i class="fas fa-cogs ic-w mr-1"></i>Settings</li>
    <li><i class="fas fa-desktop ic-w mr-1"></i>Devices</li>
    <li><i class="fas fa-trash-alt ic-w mr-1"></i>Deleted Items</li>
  </ul>
</div>


